accelerate==0.29.3
annotated-types @ file:///home/conda/feedstock_root/build_artifacts/annotated-types_1696634205638/work
bitsandbytes==0.43.1
blis @ file:///D:/bld/cython-blis_1696148950713/work
Brotli @ file:///D:/bld/brotli-split_1695989908365/work
catalogue @ file:///D:/bld/catalogue_1695626441209/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1707022139797/work/certifi
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1698833585322/work
click @ file:///D:/bld/click_1692312014553/work
cloudpathlib @ file:///home/conda/feedstock_root/build_artifacts/cloudpathlib-meta_1697837790453/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
confection @ file:///D:/bld/confection_1701179257718/work
cupy-cuda12x==12.3.0
cymem @ file:///D:/bld/cymem_1695443613698/work
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
fastrlock @ file:///D:/bld/fastrlock_1702696481893/work
filelock==3.13.4
fsspec==2024.3.1
huggingface-hub==0.22.2
idna==3.6
immutabledict==4.2.0
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1710971335535/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1704966972576/work
joblib==1.4.0
kagglehub==0.2.2
langcodes @ file:///home/conda/feedstock_root/build_artifacts/langcodes_1636741340529/work
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1686175045316/work
MarkupSafe @ file:///D:/bld/markupsafe_1706900129905/work
mdurl @ file:///home/conda/feedstock_root/build_artifacts/mdurl_1704317613764/work
mpmath==1.3.0
murmurhash @ file:///D:/bld/murmurhash_1695449971237/work
networkx==3.3
numpy @ file:///D:/bld/numpy_1707225528937/work/dist/numpy-1.26.4-cp311-cp311-win_amd64.whl#sha256=537f0573fefb1e93b3633e8a79102e6b6d2911e09e0a90008993efef4242448e
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1710075952259/work
pandas==2.2.2
pathy @ file:///C:/b/abs_16nuqmi0a0/croot/pathy_1703688148677/work
pillow==10.2.0
preshed @ file:///D:/bld/preshed_1695644870463/work
psutil==5.9.8
pydantic @ file:///home/conda/feedstock_root/build_artifacts/pydantic_1712899199321/work
pydantic_core @ file:///D:/bld/pydantic-core_1712848851871/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1700607939962/work
PyMuPDF==1.24.2
PyMuPDFb==1.24.1
PySocks @ file:///D:/bld/pysocks_1661604991356/work
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
regex==2024.4.16
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1684774241324/work
rich @ file:///home/conda/feedstock_root/build_artifacts/rich-split_1709150387247/work/dist
safetensors==0.4.3
scikit-learn==1.4.2
scipy==1.13.0
sentence-transformers==2.7.0
sentencepiece==0.2.0
shellingham @ file:///home/conda/feedstock_root/build_artifacts/shellingham_1698144360966/work
six==1.16.0
smart-open @ file:///home/conda/feedstock_root/build_artifacts/smart_open_split_1694066705667/work/dist
spacy @ file:///D:/bld/spacy_1712226335671/work
spacy-legacy @ file:///home/conda/feedstock_root/build_artifacts/spacy-legacy_1674550301837/work
spacy-loggers @ file:///home/conda/feedstock_root/build_artifacts/spacy-loggers_1694527114282/work
srsly @ file:///D:/bld/srsly_1695654152883/work
sympy==1.12
thinc @ file:///D:/bld/thinc_1703842351397/work
threadpoolctl==3.4.0
tokenizers==0.15.2
torch==2.2.2+cu121
torchaudio==2.2.2+cu121
torchvision==0.17.2+cu121
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1707598593068/work
transformers==4.39.3
typer @ file:///home/conda/feedstock_root/build_artifacts/typer_1711217621866/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1712329955671/work
tzdata==2024.1
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1708239446578/work
wasabi @ file:///D:/bld/wasabi_1686131542484/work
weasel @ file:///home/conda/feedstock_root/build_artifacts/weasel_1699295455892/work
win-inet-pton @ file:///D:/bld/win_inet_pton_1667051142467/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1695255097490/work
